# Wilcoxon Signed Rank Test

In [2]:
#!pip install pandas
import pandas as pd
from researchpy import ttest
from pingouin import wilcoxon as pgWilc
from scipy.stats import wilcoxon,mannwhitneyu

from IPython.display import Markdown, display

In [18]:

myDf = pd.read_excel('wilc.xls',sheet_name='sliver07')  
# display(myDf.head())

t1='DC'
t2='OurDC'
newDf = myDf[[t1, t2]].dropna()

display(Markdown("<h2>sliver07 DC</h2>"))
#display(wilcoxon(newDf[t1], newDf[t2], correction=False))
#display(wilcoxon(newDf[t1], newDf[t2], correction=True))
#display(wilcoxon(newDf[t1], newDf[t2], zero_method='pratt'))
display(ttest(newDf[t1], newDf[t2],equal_variances=False, paired=True))
display(pgWilc(newDf[t1], newDf[t2]))
display(newDf)
display(mannwhitneyu(newDf[t1], newDf[t2]))

myDf = pd.read_excel('wilc.xls',sheet_name='3dircab')  
#display(myDf)
newDf = myDf[[t1, t2]].dropna()
display(Markdown("<h2>3dircab07 DC</h2>"))
#display(wilcoxon(newDf[t1], newDf[t2], correction=False))
#display(wilcoxon(newDf[t1], newDf[t2], correction=True))
#display(wilcoxon(newDf[t1], newDf[t2], zero_method='pratt'))
display(ttest(newDf[t1], newDf[t2],equal_variances=False, paired=True))
display(pgWilc(newDf[t1], newDf[t2]))
#display(newDf)

display(mannwhitneyu(newDf[t1], newDf[t2]))

<h2>sliver07 DC</h2>

C:\Users\msy\miniconda3\envs\tensorflow\lib\site-packages\scipy\stats\_distn_infrastructure.py:2023: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\msy\miniconda3\envs\tensorflow\lib\site-packages\scipy\stats\_distn_infrastructure.py:2024: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc

  Wilcoxon signed-rank test   results
0            Mean for DC =   91.64625
1         Mean for OurDC =   96.07000
2                T value =    2.00000
3                Z value =   -2.24040
4      Two sided p value =    0.02340
5                      r =   -0.56010

          W-val       tail     p-val       RBC   CLES
Wilcoxon    2.0  two-sided  0.023438 -0.888889  0.125

      DC  OurDC
0  97.14  96.07
1  94.80  96.07
2  94.03  96.07
3  89.00  96.07
5  93.00  96.07
6  90.00  96.07
7  80.00  96.07
8  95.20  96.07

MannwhitneyuResult(statistic=8.0, pvalue=0.0041922393301611904)

<h2>3dircab07 DC</h2>

C:\Users\msy\miniconda3\envs\tensorflow\lib\site-packages\scipy\stats\_distn_infrastructure.py:2023: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\msy\miniconda3\envs\tensorflow\lib\site-packages\scipy\stats\_distn_infrastructure.py:2024: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc

  Wilcoxon signed-rank test  results
0            Mean for DC =   92.1750
1         Mean for OurDC =   96.2700
2                T value =    0.0000
3                Z value =   -2.2014
4      Two sided p value =    0.0312
5                      r =   -0.6355

          W-val       tail    p-val  RBC  CLES
Wilcoxon    0.0  two-sided  0.03125 -1.0   0.0

MannwhitneyuResult(statistic=0.0, pvalue=0.001389215055049512)

MannwhitneyuResult(statistic=10.0, pvalue=0.0011917497690821803)

In [39]:
#!pip install pandas
import pandas as pd
from researchpy import ttest
from pingouin import wilcoxon as pgWilc
from scipy.stats import wilcoxon

from IPython.display import Markdown, display

myDf = pd.read_excel('wilc.xls',sheet_name='sliver07')  
display(myDf)

,Yayın,VOE,OurVOE,DC,OurDC
0,karimi ed source 12,2.24,7.53,97.14,96.07
1,edSource 50,4.31,7.53,94.80,96.07
2,Fully Convolutional Network for Liver Segmenta...,NaN,NaN,89.00,96.07
3,Automatic liver segmentation on Computed Tomog...,4.47,7.53,94.03,96.07
4,m.Ahmet et al,NaN,NaN,90.10,96.07
5,Chen et. al. [12],6.50,7.53,NaN,NaN
6,Zhang et. al. [13],5.25,7.53,NaN,NaN
7,Li et. al. [14],6.24,7.53,NaN,NaN
8,Foruzan et. al. [15],8.30,7.53,NaN,NaN
9,Peng et al. [16],5.50,7.53,NaN,NaN
10,Lopez-Mir et. al. [17],6.30,7.53,NaN,NaN
11,Maklad et. al. [18],5.80,7.53,NaN,NaN
12,Beichel et. al. [19],5.20,7.53,NaN,NaN
13,Freiman et. al. [20],8.60,7.53,NaN,NaN
14,Chartrand et. al. [21],5.10,7.53,NaN,NaN
15,huang et al - ed source 7,5.30,7.53,NaN,NaN
16,J. WANG ET AL. Patient-specific probabilistic ...,7.95,7.53,NaN,NaN

# Sliver07

In [35]:
t1='VOE'
t2='OurVOE'
newDf = myDf[[t1, t2]].dropna()

display(Markdown("<h2>sliver07 voe</h2>"))
display(wilcoxon(newDf[t1], newDf[t2], correction=False))
display(wilcoxon(newDf[t1], newDf[t2], correction=True))
display(wilcoxon(newDf[t1], newDf[t2], zero_method='pratt'))
display(ttest(newDf[t1], newDf[t2], equal_variances=False, paired=True))
display(pgWilc(newDf[t1], newDf[t2]))
display(newDf)

<h2>sliver07 voe</h2>

WilcoxonResult(statistic=7.0, pvalue=0.00115966796875)

WilcoxonResult(statistic=7.0, pvalue=0.00115966796875)

WilcoxonResult(statistic=7.0, pvalue=0.00115966796875)

C:\Users\MSY\Miniconda3\envs\tensorflow\lib\site-packages\scipy\stats\_distn_infrastructure.py:2023: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\MSY\Miniconda3\envs\tensorflow\lib\site-packages\scipy\stats\_distn_infrastructure.py:2024: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc

  Wilcoxon signed-rank test  results
0           Mean for VOE =    5.8040
1        Mean for OurVOE =    7.5300
2                T value =    7.0000
3                Z value =   -3.0102
4      Two sided p value =    0.0012
5                      r =   -0.5496

          W-val       tail    p-val       RBC  CLES
Wilcoxon    7.0  two-sided  0.00116 -0.883333   0.2

     VOE  OurVOE
0   2.24    7.53
1   4.31    7.53
3   4.47    7.53
5   6.50    7.53
6   5.25    7.53
7   6.24    7.53
8   8.30    7.53
9   5.50    7.53
10  6.30    7.53
11  5.80    7.53
12  5.20    7.53
13  8.60    7.53
14  5.10    7.53
15  5.30    7.53
16  7.95    7.53

In [41]:
t1='DC'
t2='OurDC'
newDf = myDf[[t1, t2]].dropna()

display(Markdown("<h2>sliver07 DC</h2>"))
display(wilcoxon(newDf[t1], newDf[t2], correction=False))
display(wilcoxon(newDf[t1], newDf[t2], correction=True))
display(wilcoxon(newDf[t1], newDf[t2], zero_method='pratt'))
display(ttest(newDf[t1], newDf[t2],equal_variances=False, paired=True))
display(pgWilc(newDf[t1], newDf[t2]))
display(newDf)

<h2>sliver07 DC</h2>

WilcoxonResult(statistic=1.0, pvalue=0.125)

WilcoxonResult(statistic=1.0, pvalue=0.125)

WilcoxonResult(statistic=1.0, pvalue=0.125)

C:\Users\MSY\Miniconda3\envs\tensorflow\lib\site-packages\scipy\stats\_distn_infrastructure.py:2023: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\MSY\Miniconda3\envs\tensorflow\lib\site-packages\scipy\stats\_distn_infrastructure.py:2024: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc

  Wilcoxon signed-rank test  results
0            Mean for DC =   93.0140
1         Mean for OurDC =   96.0700
2                T value =    1.0000
3                Z value =   -1.7529
4      Two sided p value =    0.1250
5                      r =   -0.5543

          W-val       tail  p-val       RBC  CLES
Wilcoxon    1.0  two-sided  0.125 -0.866667   0.2

      DC  OurDC
0  97.14  96.07
1  94.80  96.07
2  89.00  96.07
3  94.03  96.07
4  90.10  96.07

# 3dırcab

In [30]:
myDf = pd.read_excel('wilc.xls',sheet_name='3dircab')  
display(myDf)

,Çalışmanın Adı,VOE,OurVOE,DC,OurDC
0,ED 30 BUDAK ET AL Cascaded deep convolutional...,9.05,7.16,95.22,96.27
1,Automatic Liver and Tumor Segmentation of CT a...,10.70,7.16,94.30,96.27
2,AHMET EL AL edSource 50 Deep Belief Network M...,6.09,7.16,91.83,96.27
3,Automatic liver segmentation on Computed Tomog...,5.95,7.16,91.19,96.27
4,Omer AUTOMATIC LIVER SEGMENTATION FROM CT SCAN...,10.31,7.16,94.51,96.27
5,A hierarchical local region-based sparse shape...,8.74,7.16,NaN,NaN
6,Automatic Liver Segmentation from CT Images Us...,7.84,7.16,NaN,NaN
7,Automatic Liver Segmentation Based on Shape Co...,9.15,7.16,NaN,NaN
8,Liver and tumor segmentation and analysis from...,12.99,7.16,NaN,NaN
9,AUTOMATIC L IVER TUMOR SE GME NT ATION ON COMP...,9.36,7.16,NaN,NaN
10,ed source 7 huang et al - full automatic liver...,8.60,7.16,NaN,NaN
11,Liver segmentation from abdominal CT volumes b...,9.20,7.16,NaN,NaN

In [31]:
t1='VOE'
t2='OurVOE'
newDf = myDf[[t1, t2]].dropna()

display(Markdown("<h2>3dircab voe</h2>"))
display(wilcoxon(newDf[t1], newDf[t2], correction=False))
display(wilcoxon(newDf[t1], newDf[t2], correction=True))
display(wilcoxon(newDf[t1], newDf[t2], zero_method='pratt'))
display(ttest(newDf[t1], newDf[t2], equal_variances=False, paired=True))
display(pgWilc(newDf[t1], newDf[t2]))

<h2>3dircab voe</h2>

WilcoxonResult(statistic=5.0, pvalue=0.0048828125)

WilcoxonResult(statistic=5.0, pvalue=0.0048828125)

WilcoxonResult(statistic=5.0, pvalue=0.0048828125)

  Wilcoxon signed-rank test   results
0           Mean for VOE =   8.998333
1        Mean for OurVOE =   7.160000
2                T value =   5.000000
3                Z value =  -2.667200
4      Two sided p value =   0.004900
5                      r =  -0.544400

          W-val       tail     p-val       RBC      CLES
Wilcoxon    5.0  two-sided  0.004883  0.871795  0.833333

In [32]:
t1='DC'
t2='OurDC'
newDf = myDf[[t1, t2]].dropna()

display(Markdown("<h2>3dircab DC</h2>"))
display(wilcoxon(newDf[t1], newDf[t2], correction=False))
display(wilcoxon(newDf[t1], newDf[t2], correction=True))
display(wilcoxon(newDf[t1], newDf[t2], zero_method='pratt'))
display(ttest(newDf[t1], newDf[t2],equal_variances=False, paired=True))
display(pgWilc(newDf[t1], newDf[t2]))

display(newDf)

<h2>3dircab DC</h2>

WilcoxonResult(statistic=0.0, pvalue=0.0625)

WilcoxonResult(statistic=0.0, pvalue=0.0625)

WilcoxonResult(statistic=0.0, pvalue=0.0625)

C:\Users\MSY\Miniconda3\envs\tensorflow\lib\site-packages\scipy\stats\_distn_infrastructure.py:2023: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\MSY\Miniconda3\envs\tensorflow\lib\site-packages\scipy\stats\_distn_infrastructure.py:2024: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc

  Wilcoxon signed-rank test  results
0            Mean for DC =   93.4100
1         Mean for OurDC =   96.2700
2                T value =    0.0000
3                Z value =   -2.0226
4      Two sided p value =    0.0625
5                      r =   -0.6396

          W-val       tail   p-val  RBC  CLES
Wilcoxon    0.0  two-sided  0.0625 -1.0   0.0

      DC  OurDC
0  95.22  96.27
1  94.30  96.27
2  91.83  96.27
3  91.19  96.27
4  94.51  96.27

# hepsi

In [13]:
myDf = pd.read_excel('wilc.xls',sheet_name='hepsii')  
display(myDf)

      DC  OurDC
0  97.14  96.07
1  94.80  96.07
2  94.03  96.07
3  89.00  96.07
4  95.22  96.27
5  94.30  96.27
6  91.83  96.27
7  91.19  96.27
8  94.51  96.27
9  86.00  96.27

In [28]:
t1='VOE'
t2='OurVOE'
newDf = myDf[[t1, t2]].dropna()

display(Markdown("<h2>genel voe</h2>"))
display(wilcoxon(newDf[t1], newDf[t2], correction=False))
display(wilcoxon(newDf[t1], newDf[t2], correction=True))
display(wilcoxon(newDf[t1], newDf[t2], zero_method='pratt'))
display(ttest(newDf[t1], newDf[t2], equal_variances=False, paired=True))
display(pgWilc(newDf[t1], newDf[t2]))
display(newDf)

<h2>genel voe</h2>

WilcoxonResult(statistic=51.0, pvalue=0.243499755859375)

WilcoxonResult(statistic=51.0, pvalue=0.243499755859375)

WilcoxonResult(statistic=51.0, pvalue=0.243499755859375)

  Wilcoxon signed-rank test    results
0           Mean for VOE =    7.928824
1        Mean for OurVOE =    7.247059
2                T value =   51.000000
3                Z value =   -1.207100
4      Two sided p value =    0.243500
5                      r =   -0.207000

          W-val       tail   p-val       RBC      CLES
Wilcoxon   51.0  two-sided  0.2435  0.333333  0.705882

      VOE  OurVOE
0    2.24    7.53
1    4.31    7.53
3    4.47    7.53
5    7.95    7.53
7    9.05    7.16
8   10.70    7.16
9    6.09    7.16
10   5.95    7.16
11  10.31    7.16
12   8.74    7.16
13   7.84    7.16
14   9.15    7.16
15  12.99    7.16
16   9.36    7.16
17   8.60    7.16
18   9.20    7.16
19   7.84    7.16

In [14]:
t1='DC'
t2='OurDC'
newDf = myDf[[t1, t2]].dropna()

display(Markdown("<h2>genel DC</h2>"))
display(wilcoxon(newDf[t1], newDf[t2], correction=False))
display(wilcoxon(newDf[t1], newDf[t2], correction=True))
display(wilcoxon(newDf[t1], newDf[t2], zero_method='pratt'))
display(ttest(newDf[t1], newDf[t2],equal_variances=False, paired=True))
display(pgWilc(newDf[t1], newDf[t2]))

display(newDf)

<h2>genel DC</h2>

WilcoxonResult(statistic=2.0, pvalue=0.005859375)

WilcoxonResult(statistic=2.0, pvalue=0.005859375)

WilcoxonResult(statistic=2.0, pvalue=0.005859375)

  Wilcoxon signed-rank test  results
0            Mean for DC =   92.8020
1         Mean for OurDC =   96.1900
2                T value =    2.0000
3                Z value =   -2.5992
4      Two sided p value =    0.0059
5                      r =   -0.5812

          W-val       tail     p-val       RBC  CLES
Wilcoxon    2.0  two-sided  0.005859 -0.927273   0.1

      DC  OurDC
0  97.14  96.07
1  94.80  96.07
2  94.03  96.07
3  89.00  96.07
4  95.22  96.27
5  94.30  96.27
6  91.83  96.27
7  91.19  96.27
8  94.51  96.27
9  86.00  96.27